<h2>Board Sports in RoR</h2>
<img src="/images/windsurf1.jpg" border=1 height="200" width="300" align="center"/>
<h3>Ride on!</h3>
<h4>Things to do here:</h4>
<div id="thingstodo">
  <ul>
       <li>Create the PostgreSQL database on a shared Heroku instance</li>
       <li>Create the scaffolding where basic CRUD operations</li>
        <li>Create test cases using rspec and cucumber</li>
        <li>Deploy site</li>
        <li>Relax!</li>
  </ul>
  <a href= "mailto:baskint@gmail.com" >Baskin Tapkan</a>
</div>