<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Wind sessions" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Wind sessions</h1>
    <%= link_to "New wind session", new_wind_session_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="wind_sessions" class="min-w-full">
    <% @wind_sessions.each do |wind_session| %>
      <%= render wind_session %>
      <p>
        <%= link_to "Show this wind session", wind_session, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
